-f https://download.pytorch.org/whl/torch_stable.html
fastapi==0.111.0
gradio==4.29.0
vertexai
google-cloud-texttospeech
google-cloud-translate
google-cloud-speech
google-cloud-aiplatform
requests
Pillow
httptools
google-cloud-logging
google-auth
requests
numpy
ipython
grpcio
grpcio-tools
torch==2.3.1+cpu
torchaudio==2.3.1+cpu
soundfile
pylru