fastapi==0.111.0
gradio==4.29.0
vertexai==1.49.0
google-cloud-texttospeech
google-cloud-translate
google-cloud-speech
google-cloud-aiplatform
requests==2.31.0
Pillow==9.4.0
httptools==0.6.1
google-cloud-logging
google-auth
requests
numpy
pysilero-vad
pyaudio==0.2.14
torchaudio
ipython
grpcio==1.64.1
grpcio-tools==1.64.1